#imagen{
    position: relative;
    left: 4px;
    border-radius: 5px;
    transition: 0.3s;
}

#container{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 510px;
    transition: 0.3s;
    box-shadow: 5px 5px 20px #141E30;
}

#name{
    position: relative;
    left: 5px;
}

#container:hover img{
    transform: scale(0.97);
}

#container:hover {
    transform: translateY(-13px);
    box-shadow: 5px 5px 20px white;
}